<h3 class="text-center white" style="margin-top:1.5%">Welcome </h3>

<!-- Custom modal start -->
<!-- Trigger/Open The Modal -->
<div id="new-pic-trigger" type="button" class="text-center" ng-click="getAddNewPic()">
    <h5>Add pic to your wall</h5>
</div>

<!-- The image Modal -->
<div style="padding-top: 50px;" id="custom-image-modal" class="custom-modal">
    <span class="custom-image-modal-close" ng-click="closeCustomImgModal()">
        <i class="fa fa-lg fa-times" aria-hidden="true"></i>
    </span>
    <img class="custom-image-modal-content" id="modal-img" />
    <div id="caption">
        <h3><span id='img-modal-title'></span></h2>
        <h4>Likes: <span></span></h4>
        <h4>By: <a style="color: #60DDEB" href="" target="_blank"></a></h4>
    </div>
</div>

<!-- myModal -->
<div id="myModal" class="custom-modal">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-centered">
                <!-- Modal content -->
                <div class="custom-modal-content drop-in-modal">
                    <div class="custom-modal-header">
                        <span ng-click="cancelAddNewPic()" class="custom-close" id="addPicFormCloseBtn"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <h4>Add a new pic to your wall</h4>
                    </div>
                    <div class="custom-modal-body">

                        <div class="image-preview-frame">
                            <img src="{{newPic.url}}" alt="Image not found &nbsp; &nbsp; &nbsp;" class="thumbnail preview-pic-img" id="add-pic-img" />
                        </div>

                        <form ng-submit="addNewPic()" name="addNewPicForm" id="addPic-form" novalidate>

                            <div class="form-group">
                                <input class="form-input black" id="add-pic-img-title" ng-model="newPic.title" maxlength="60" ng-maxlength="60" type="text" name="title"
                                    placeholder="Title for the image" required/>
                            </div>

                            <div class="form-group">
                                <input ng-model="newPic.url" pattern="^https://(?:[a-z0-9\-]+\.)+[a-z]{2,6}(?:/[^/#?]+)+\.(?:jpg|jpeg|gif|png)$" class="form-input black"
                                    id="add-pic-img-url" ng-maxlength="300" type="url" name="url" placeholder="Image url" required/>
                            </div>

                            <p class="help-block" ng-show="addNewPicForm.url.$dirty && addNewPicForm.url.$invalid">
                                Please enter a url that starts with https:// and url end with jpg or png or gif or jpeg.
                            </p>

                            <div class="text-center">
                                <button type="submit" ng-disabled="addNewPicForm.$invalid" class="btn btn-md btn-primary">Add</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Custom modal end -->

<div class="grid">
    <div class="grid-item masonry-brick thumbnail" on-finish-render='picsAdded' ng-repeat="pic in pics track by $index">
        <img src="{{pic.picUrl}}" ng-click="showCustomImgModal(pic)" on-error-src='https://i.imgur.com/QQMf8ON.png' alt="pic.title" class="my-pic" />
        <div class="my-pic-title text-center">{{pic.title}}</div>
        <div>
            <div class="likes-box">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>: {{pic.likes.length}}
            </div>

            <div class="pic-delete-btn-frame">
                <button class="btn btn-danger btn-xs" ng-click="removePic(pic._id)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>


<!--
{{#if pics}}
    <div class="row grid">
        {{#each pics}}
            <div class="grid-item thumbnail" id="{{this._id}}">
                <img src="{{this.picUrl}}" alt="image from gallery" class="my-pics" />
                <div class="caption">
                    <p class="text-center my-pic-title"> {{this.title}} </p>
                    <div style="margin:-4% 0%">
                    <div class="likes-box">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>: {{this.likes.length}}
                    </div>
                    <div class="pic-delete-btn-frame">
                        <button class="btn btn-xs btn-danger" type="button" onclick="post('/removepic', 
                            {_csrf: '{{../csrfToken}}', id: '{{this._id}}', ownedBy: '{{this.ownedBy}}', 
                            title: '{{this.title}}', url: '{{this.picUrl}}'}, '{{this._id}}')">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}

-->