<h3 class="text-center white" style="margin-top:1.5%">Public wall </h3>

<!-- The image Modal -->
<div style="padding-top: 50px;" id="custom-image-modal" class="custom-modal">
    <span class="custom-image-modal-close" ng-click="closeCustomImgModal()">
        <i class="fa fa-lg fa-times" aria-hidden="true"></i>
    </span>
    <img class="custom-image-modal-content" id="modal-img" />
    <div id="caption">
        <h3><span id='img-modal-title'></span></h2>
        <h4>Likes: <span></span></h4>
        <h4>By: <a style="color: #60DDEB" href="" target="_blank"></a></h4>
    </div>
</div>

<div class="grid">
    <div class="grid-item masonry-brick thumbnail" on-finish-render='picsAdded' ng-repeat="pic in pics track by $index">
        <img src="{{pic.picUrl}}" ng-click="showCustomImgModal(pic)" on-error-src='https://i.imgur.com/QQMf8ON.png' alt="pic.title" class="my-pic" />
        <div class="my-pic-title text-center">{{pic.title}}</div>
        <div style="height: 20px;">
            <div class="likes-box">
                <i class="fa fa-lg fa-thumbs-o-up like-btn" ng-click="likeAPic(pic._id)" aria-hidden="true"></i> : {{pic.likes.length}}
            </div>

            <div class="text-right owner-username">
                <a href="/users/{{pic.ownerUsername}}" target="_blank">
                   {{pic.ownerUsername}}
                </a>
            </div>
        </div>
    </div>
</div>